@use 'sass:color';

///// Global Configs /////

$teal: #0ff;
$green: #8e8;
$green-dk: color.scale($green, $lightness: -40%);
$green-lt: color.scale($green, $lightness: 30%);
$purple: #4a235a;
$pink: #ff59d7;
$pink-lt: color.scale($pink, $lightness: 70%, $saturation: -20%);
$pink-dk: color.scale($pink, $lightness: -40%);
$orange: #ff7a4c;
$orange-dk: color.scale($orange, $lightness: -20%, $saturation: -40%);
$orange-lt: color.scale($orange, $lightness: 20%, $saturation: -20%);
$yellow: #ceaf00;
$yellow-pale: #ffeecc;
$blue: #6666ff;
$white: #fff;
$grey: #777;
$black: #111;

$mobile-menu-height: 40px;

/**
 * Do color shifts for dark text on a light background.
 *
 * The root level styling for this application is a dark-colored background with light-colored text. That styling is used for
 * "in-universe"/lore text. For "real world"/help text, the colors are inverted (light background with dark text). To make
 * that look good when those two text treatments are nearby each other, the other colors need to be shifted slightly, in order to
 * appear perceptually the same (to human eyes, the same color "green" on a light background appears more "washed out"
 * than on a dark background, so to make them be perceived as the same, they actually need to be different colors).
 */
@mixin inverted-text {
  color: $black;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color.scale($green, $lightness: -20%, $saturation: -30%);
  }
  a {
    color: color.scale($green-dk, $lightness: -30%);
  }
  em,
  i,
  .em {
    color: $orange-dk;
  }
  strong,
  b,
  .strong {
    color: color.scale($orange, $lightness: -30%);
    text-shadow: 0 0 6px rgb(255 255 0);
  }
  code {
    color: color.scale($pink, $lightness: -20%);
  }
  input[type='text'] {
    border-color: $grey;
    color: $black;
    background: rgba($black, 0.05);
  }
}

@mixin logo-font {
  font-family: var(--font-setback), setback, sans-serif;
  text-shadow: 0.05em 0.05em rgba($white, 0.25);
}

@mixin subhead-font {
  font-family: var(--font-p2), 'Press Start 2P', monospace;
  text-shadow: 0.1em 0.1em rgba($white, 0.25);
  font-weight: bold;
}

@mixin scrollbars($foreground-color: $green-lt, $background-color: $black) {
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

html {
  @include scrollbars;
  background: $black;
  color: $white;
  font-family: var(--font-roboto-mono), 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
main {
  font-family: var(--font-roboto-mono), 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
}

/**
 * Background stars effect
 */
#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
  & > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200vh;
    z-index: -100;
    background-repeat: repeat;
  }
  #small-stars {
    background: url('../public/img/bgstarssmall.png');
  }
  #large-stars {
    background: url('../public/img/bgstarslarge.png');
  }
}

nav#sidebar {
  background: $purple;
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 0.8rem;
  line-height: 1.2em;
  > div {
    padding: 1rem;
    box-sizing: border-box;
    a:hover {
      text-decoration: none;
    }
  }
  #mobile-menu-button {
    display: none;
  }
  #logo {
    @include logo-font;
    background-color: rgba($white, 0.1);
    font-size: 2rem;
    text-align: center;
    line-height: 1em;
    text-transform: none;
    padding: 0.7rem 1rem;
    width: 100%;
    a {
      color: $green;
    }
  }
  #menu {
    background: $purple;
  }
  h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-shadow: 0.15em 0.15em rgba($white, 0.25);
  }
  h2:first-child {
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin-left: 1rem;
      padding: 0.2rem 0;
    }
  }
  #wallet-connection {
    background-color: rgba($black, 0.2);
    text-align: center;
    width: 100%;
    .eth-address {
      padding: 0;
    }
  }
}

/* Right-hand side of the page */
#content {
  margin-left: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > #content-container {
    flex-grow: 1;
    padding: 0 1rem;
  }
}

footer {
  background-color: rgba($black, 0.5);
  color: $green;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  > div {
    padding: 0 1rem;
  }
}

/**
 * Generic container for text content
 * For best readability, having text lines be no longer than 75 characters long is recommended.
 */
.text-container {
  max-width: 75em;
  margin: 0 auto;
}

// The default "card" is a "lore card" (dark background, with light text)
.card {
  box-shadow: 0 0 40px 1px $teal, 8px 8px 0 0 rgba($white, 0.3);
  margin: 2rem 0.5rem;
  padding: 1rem;
  border: solid 2px $white;
  background: rgba($black, 0.8);
  > h2:first-child {
    margin-top: 0;
  }
  > h3:first-child {
    margin-top: 0;
  }
}

// A "real-world"/help card is inverted in colors (light background, with dark text)
.card-help {
  @extend .card;
  background: $white;
  @include inverted-text;
  box-shadow: 0 0 20px 1px rgba($teal, 0.5), 8px 8px 0 0 rgba($white, 0.3);
}

// A "real-world"/help card with an elevated emphasis
.card-notice {
  @extend .card;
  background: $yellow-pale;
  @include inverted-text;
  box-shadow: 0 0 20px 1px rgba($teal, 0.5), 8px 8px 0 0 rgba($white, 0.3);
}

.sub-card {
  max-width: 30rem;
  margin: auto;
  text-align: center;
  background: rgba($yellow-pale, 0.1);
  padding: 1rem;
}

.admin-tools {
  color: $pink-lt;
  background: rgba($pink, 0.2);
  padding: 0.5em;
  border: solid 1px $pink-dk;
  box-shadow: 0px 0px 12px 6px rgba($pink-lt, 0.3);
  select,
  button {
    border-color: $pink;
    color: $pink-lt;
    background: rgba($pink, 0.2);
  }
  button:hover:not(:disabled):not(.read-only) {
    border-color: $pink-lt;
    color: $pink;
  }
}
.btn-admin {
  border-color: $pink;
  color: $pink;
  background: rgba($pink, 0.2);
}
.card-help {
  & .admin-tools {
    color: $pink-dk;
    button { color: $pink; }
  }
  & .btn-admin {
    border-color: $pink-dk;
    color: $pink-dk;
  }
}

/**
 * Add a translucent black background color, to help with text legibility on the starry pattern
 */
.text-scrim {
  background: rgba($black, 0.8);
  box-shadow: 0 0 8px 5px rgba($black, 0.8);
}

.mooncat-row {
  display: flex;
  justify-content: space-around;
  > div {
    flex: 1 1 100px;
    display: grid;
    place-items: center;
    .mooncat-image {
      max-height: 200px;
      max-width: 30vw;
    }
  }
}

.filter-modal {
  position: absolute;
  top: 40px;
  left: 0;
  background: $black;
  border: solid 1px $white;
  padding: 1rem;
  z-index: 20;
}

.form-grid {
  display: grid;
  align-items: baseline;
  justify-content: center;
  grid-gap: 0.5rem;
  .field-row {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: subgrid;
    align-items: baseline;
    > .field-label {
      text-align: right;
    }
    > .field-control {
      > input[type='text'] {
        width: 100%;
        min-width: 10em;
        box-sizing: border-box;
      }
    }
  }
}

nav.breadcrumb {
  font-size: 0.8rem;
  line-height: 1.5em;
  margin: 0.5em 0;
}

nav.tabs {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 2px $orange;
  margin-bottom: 1rem;
  background: color.scale($orange, $lightness: -70%, $saturation: -40%);
  > div {
    cursor: pointer;
    padding: 0.2rem 0.7rem;
    &:hover {
      background: rgba($orange, 0.2);
    }
    &.active {
      background: $orange;
      color: $black;
    }
  }
}

///// Global tag styling /////

a {
  color: $green-dk;
  text-decoration: none;
  &:hover:not(.alt-link) {
    text-decoration: underline;
  }
}
.alt-link,
.green-lt {
  color: $green-lt;
}
.green-dk {
  color: $green-dk;
}
.orange {
  color: $orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include subhead-font;
  color: $green;
  line-height: 1.6em;
  a {
    color: inherit;
  }
}

h2 {
  margin: 2em 0 0.5em;
}

em,
i,
.em {
  font-style: normal;
  color: color.scale($orange, $lightness: 30%, $saturation: -30%);
}

strong,
b,
.strong {
  font-weight: bold;
  color: $orange;
  text-shadow: 0 0 6px rgb(226 216 0 / 59%);
}

code,
.hex-string {
  color: $pink;
  background-color: rgba($pink, 0.2);
  padding: 0 0.2rem;
  font-family: var(--font-roboto-mono), 'Roboto Mono', monospace;
}
.code-block {
  padding: 0.2em 0.5em;
  word-wrap: break-word;
  background-color: rgba($pink, 0.2);
}

.subheading {
  @extend strong;
  font-size: 0.8rem;
  margin-top: -0.8rem;
}

.hex-collapse {
  display: inline-block;
  max-width: calc(100% - 45px);
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  margin: 0 0 1.5em;
  &:last-child {
    margin: 0;
  }
}

hr {
  margin: 1rem 0;
  height: 2px;
  border: 0;
  background: $grey;
}

.btn-bar {
  float: right;
  display: flex;
  margin: 0 0 1rem 1rem;
}

button,
a.btn {
  background: rgba($orange-lt, 0.25);
  color: $orange;
  border: solid 2px $orange-dk;
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1em;
  padding: 0.3em 0.5em;
  border-radius: 0.5em 0;
  font-weight: 700;
  &:not(:disabled):not(.read-only) {
    cursor: pointer;
  }
  &:hover:not(:disabled):not(.read-only) {
    border-color: color.scale($orange, $lightness: 30%, $saturation: -30%);
    color: $orange;
  }
  &:active:not(:disabled):not(.read-only) {
    border-color: color.scale($orange, $lightness: 60%, $saturation: -30%);
    color: color.scale($orange, $lightness: 30%, $saturation: -30%);
    background: rgba($orange-lt, 0.55);
  }
  &.btn-small {
    font-size: 0.8rem;
    svg {
      vertical-align: -0.1rem;
    }
  }
  &.btn-cancel {
    border-color: color.scale($orange, $saturation: -80%);
    color: color.scale($orange, $saturation: -70%);
    background: rgba(color.scale($orange, $lightness: 20%, $saturation: -50%), 0.25);
  }
  &.btn-color-picker {
    font-size: 0.8rem;
    border-width: 6px;
    background: rgba($grey, 0.25);
    color: $white;
    box-shadow: 0 0 5px 4px rgba($teal, 0.1);
  }
  &.highlight {
    background: rgba($yellow, 0.25);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &.read-only {
    border-color: transparent;
  }
}
a.btn {
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
.btn-shiny {
  position: relative;
  display: inline-block;
  background: linear-gradient(
    30deg,
    $orange 0%,
    $orange-lt 20%,
    #fff 22%,
    $orange-dk 25%,
    $orange-lt 70%,
    $orange 100%
  );
  background-size: 300%;
  animation: background-slide 5s linear infinite;
  border-radius: 0.5em 0;
  padding: 4px;
  > button {
    border-width: 0;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0.3em 0;
    &:active:not(:disabled):not(.read-only) {
      color: $black;
    }
  }
  &.disabled {
    animation: none;
    background: color.scale($orange, $lightness: -40%, $saturation: -60%);
    > button {
      opacity: 1;
      color: color.scale($orange, $lightness: -40%, $saturation: -60%);
    }
  }
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    background-size: 100%;
    background-position: 0 0;
  }
}
@keyframes background-slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0;
  }
}
button.icon-button {
  background: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0.2rem;
  line-height: 1px;
  &:hover:not(:disabled) {
    background: rgba($orange-lt, 0.25);
  }
}

.icon-pill {
  background: rgba(color.scale($green, $lightness: 20%, $saturation: -20%), 0.25);
  color: $green-lt;
  font-size: 0.8rem;
  padding: 0.3em 0.5em;
  border-radius: 0.5em 0;
}

.pill {
  display: inline-block;
  position: relative;
  background: $orange;
  color: $white;
  font-size: 0.8em;
  padding: 0.2em 0.5em 0.2em;
  margin: 0 0.75em;
  line-height: 1em;
  vertical-align: 0.1em;
  border: solid 0px $black;
  border-radius: 0.5em;
  &:before {
    content: '';
    width: 3em;
    height: 3em;
    position: absolute;
    top: -0.8em;
    left: -0.7em;
    background: url('/img/pulse.svg');
    background-size: cover;
    @media (prefers-reduced-motion: reduce) {
      display: none;
    }
  }
  > span {
    position: relative;
  }
}

dialog {
  border: solid 4px color.scale($teal, $lightness: -40%);
  border-radius: 0.5em 0;
  box-shadow: 0 0 40px 8px rgba($teal, 0.4);
  max-width: 60vw;
  max-height: 60vh;
  padding: 2em;
  box-sizing: border-box;
  h2:first-child,
  h3:first-child {
    margin-top: 0;
  }
  h2,
  h3 {
    color: color.scale($teal, $lightness: -40%);
  }
}
dialog:not(.wizard) {
  background: $white;
  @include inverted-text;
}
::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog.wizard {
  background: $black;
  color: $white;
  width: 90vw;
  height: 90vh;
  max-width: 90vw;
  max-height: 90vh;
  &[open] {
    animation: fadeIn 0.8s ease-in-out;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

select {
  background: rgba($orange-lt, 0.25);
  color: $orange;
  border: solid 2px $orange-dk;
  padding: 0.3em 0.5em;
  border-radius: 0.5em 0;
  font-weight: 700;
}

textarea {
  font-family: var(--font-roboto-mono), 'Roboto Mono', monospace;
  background: rgba(color.scale($white, $lightness: 20%), 0.25);
  color: $white;
  border: solid 2px $white;
  padding: 0.3em 0.5em;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
}

input[type='text'] {
  font-family: var(--font-roboto-mono), 'Roboto Mono', monospace;
  background: rgba(color.scale($white, $lightness: 20%), 0.25);
  color: $white;
  border: solid 2px $white;
  padding: 0.3em 0.5em;
  max-width: 75vw;
  &.address-search {
    width: 26em;
  }
}

dl {
  dt {
    @include subhead-font;
    color: $green;
    line-height: 1.6em;
  }
  dd {
    margin-left: 2em;
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}

///// Multi-use component styling /////

$arch-top: 90px;
.leaderboard {
  position: relative;
  margin-top: $arch-top;
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 550px;
    opacity: 0.3;
    top: $arch-top * -1;
    left: 0;
    background: url('/img/star-arch.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100em;
  }
  > .leaderboard-wrap {
    position: relative;
  }
}

h1.hero {
  @include logo-font;
  text-align: center;
  font-size: 4rem;
  line-height: 1.2em;
}

dl.treasures-list {
  @extend .text-scrim;
  dd {
    display: flex;
    gap: 0.5rem;
    .details {
      flex: 3 3 65%;
    }
    .eligible-mooncats {
      flex: 1 1 35%;
      text-align: right;
      max-width: 35vw;
      img:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
%zebra-list,
ul.zebra {
  @extend .text-scrim;
  padding-left: 0;
  list-style-type: none;
  li:nth-child(even) {
    background: rgba($yellow-pale, 0.1);
  }
  li {
    > a {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.2rem 1rem;
      text-decoration: none;
      color: inherit;
      > h3 {
        margin: 0;
      }
    }
    &:hover {
      background: rgba(255, 255, 0, 0.2);
    }
  }
}
ul.user-list-list {
  @extend %zebra-list;
  li > a {
    .name {
      @extend h3;
      flex: 0 3 5%;
      white-space: nowrap;
    }
    .details {
      flex: 3 3 45%;
    }
    .list-tokens-preview {
      flex: 0 0 300px;
      text-align: right;
      max-width: 35vw;
      img:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

.section-header {
  color: $orange;
  text-align: center;
  font-size: 1rem;
  border-bottom: solid 2px $grey;
  padding-bottom: 1em;
  margin-top: 0;
}

@property --thumb-height {
  syntax: '<length>';
  inherits: true;
  initial-value: 120px;
}
@mixin item-thumb {
  border: solid 1px #222;
  background: rgba($black, 0.8);
  color: inherit;
  padding: 1rem;
  position: relative;
  transition: padding 0.2s;
  box-sizing: border-box;
  margin: -1px 0 0 -1px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.3em;
  &.highlight {
    background: rgba(255, 255, 0, 0.2);
  }
  &.disabled {
    opacity: 0.3;
  }
  .thumb-img {
    position: relative;
    z-index: 10;
    transition: height 0.2s;
  }
  .listed-platform {
    transition: top 0.2s;
  }
  p {
    margin: 0;
  }
  &:hover {
    text-decoration: none;
  }
  &:hover:not(.disabled) {
    position: relative;
    background: rgba(#333, 0.8);
    box-shadow: 0 0 40px 8px rgba($teal, 0.1);
    padding: 5px;
    &.highlight {
      background: rgba(255, 255, 190, 0.2);
    }
    .thumb-img {
      height: calc(var(--thumb-height) + 2rem - 10px);
    }
    .listed-platform {
      &.standing {
        top: 122px;
      }
      &.sleeping {
        top: 110px;
      }
      &.pouncing {
        top: 130px;
      }
      &.stalking {
        top: 130px;
      }
    }
  }
}
.thumb-img {
  height: var(--thumb-height);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.listed-platform {
  background: $blue;
  border: solid 0px $blue;
  border-radius: 50%;
  height: 16px;
  width: 94%;
  position: absolute;
  left: 2%;
  &.standing {
    top: 114px;
  }
  &.sleeping {
    top: 105px;
  }
  &.pouncing {
    top: 120px;
  }
  &.stalking {
    top: 120px;
  }
}
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  .item-thumb {
    @include item-thumb;
  }
}
.scroll-indicator {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  background: #111;
  box-shadow: -20px 0 20px #111;
  font-size: 3rem;
  cursor: pointer;
  text-align: center;
  z-index: 10;
  color: rgb(136, 238, 136);
  opacity: 95%;
}

.item-strip {
  display: flex;
  .item-thumb {
    @include item-thumb;
    flex: 1 1 auto;
    min-width: 150px;
  }
}

@property --drawer-height {
  syntax: '<length>';
  inherits: true;
  initial-value: 1000px;
}
.drawer {
  margin: 1.5em 0;
  .drawer-title {
    color: $orange;
    cursor: pointer;
    padding: 0.5em;
    background: rgba($yellow-pale, 0.1);
  }
  .drawer-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    &[aria-expanded='true'] {
      max-height: var(--drawer-height);
      transition: max-height 0.5s ease-in-out;
    }
  }
}

.progress-bar {
  display: inline-block;
  width: 100%;
  padding: 4px;
  background: #555;
  > div {
    position: relative;
    background: linear-gradient(90deg, $orange 50%, color.scale($orange, $lightness: 20%, $saturation: -20%) 100%);
    height: 16px;
    transition: width 1s ease-in-out;
    &:after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      right: -12px;
      top: -4px;
      background: radial-gradient(rgba($yellow-pale, 40%) 0%, rgba($yellow-pale, 20%) 20%, rgba($yellow-pale, 0%) 85%);
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  .pagination-left,
  .pagination-right {
    padding: 0.5rem;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      opacity: 20%;
    }
    > svg {
      vertical-align: -2px;
    }
  }
  .pagination-center {
    display: flex;
    > span {
      padding: 0 0.3rem;
    }
  }
  .pagination-skip-left,
  .pagination-skip-right {
    cursor: pointer;
  }
}

section.accessory-picker {
  ul {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
    li {
      display: flex;
      align-items: center;
      padding: 0.2rem 0.7rem;
      //&:not(:last-child) { margin-bottom: 2px; }
      &:nth-child(odd) {
        background: rgba($purple, 0.5);
      }
      &:nth-child(even) {
        background: rgba($purple, 0.2);
      }
      .label {
        white-space: nowrap;
        flex-grow: 3;
      }
      .buttons {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 0.4rem;
        align-items: center;
        line-height: 1em;
      }
      &.hidden {
        color: $grey;
        button {
          color: color.scale($orange, $lightness: -50%, $saturation: -30%);
        }
        select {
          color: color.scale($orange, $lightness: -30%, $saturation: -30%);
          border-color: color.scale($orange, $lightness: -50%, $saturation: -30%);
          background: rgba($orange, 0.1);
        }
      }
    }
  }
}

ul.list-picker {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  li {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.7rem;
    cursor: pointer;
    &:nth-child(odd) {
      background: rgba($yellow, 0.5);
    }
    &:nth-child(even) {
      background: rgba($yellow, 0.2);
    }
  }
}

.color-palette-stripes {
  background-color: $white;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAFUlEQVQYlWNgwA3+I2EaKRoeVsAAAFflGubteE7wAAAAAElFTkSuQmCC');
}

.color-picker {
  hr {
    margin: 10px 0;
  }
  .color-picker-row {
    @extend .color-palette-stripes;
    display: flex;
    .color-picker-row-label {
      flex: 0 0 7em;
      background: $black;
    }
    .color-cell {
      flex: 1 1 20px;
      &:hover {
        z-index: 10;
        margin: -3px;
        border: solid 3px $white;
        box-shadow: 0 0 9px 1px $teal;
      }
      &.highlighted {
        z-index: 10;
        margin: -2px;
        border: solid 2px $green-lt;
        box-shadow: 0 0 9px 1px $teal;
      }
    }
  }
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
svg.icon-images {
  width: 1.125em;
}
svg.icon-tags {
  width: 1.25em;
}

.sprite-animation {
  --scale: 3;
  position: absolute;
  width: calc(var(--scale) * 32px);
  height: calc(var(--scale) * 32px);
  background-size: calc(var(--scale) * 512px) calc(var(--scale) * 256px);
  image-rendering: pixelated;
  background-repeat: no-repeat;
}

.eth-address {
  display: inline-block;
  line-height: 1em;
  background: rgba($pink, 0.2);
  padding: 0.2em 0.5em;
  max-width: 95%;
  white-space: nowrap;
  .eth-avatar {
    max-height: 1.5em;
    vertical-align: middle;
    margin-right: 0.5em;
  }
  .hex-collapse {
    vertical-align: -3px;
  }
}
.eth-tx {
  display: inline-block;
  line-height: 1em;
  background: rgba($pink, 0.2);
  padding: 0.2em 0.5em;
}

.message-error {
  color: $orange;
}

.callout {
  margin: 2em 0 2em 2em;
  background: rgba($green, 0.1);
  padding: 1em;
}

p.highlight {
  padding: 0.2em 0.4em;
  background: rgba(255, 255, 90, 0.15);
  box-shadow: 0 0 10px 7px rgba(255, 255, 90, 0.2);
}

.two-col {
  column-count: 2;
}

table.zebra {
  tr:nth-child(even) {
    background: rgba($yellow-pale, 0.1);
  }
  tr.highlight {
    background: rgba(255, 255, 0, 0.2);
  }
  td {
    padding: 0.2rem;
  }
}
tr.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}

img.inline {
  height: 2.5em;
  vertical-align: -10px;
}

.timeline-container {
  $blur-size: 20px;
  $line-thickness: 2px;
  @mixin timeline-node {
    border-left: $line-thickness solid $white;
    margin: 0;
    padding-left: 2rem;
    padding-top: 5rem;
    background: rgba($black, 0.8);
  }
  @mixin dot($dot-size) {
    width: $dot-size;
    height: $dot-size;
    border-radius: $dot-size;
    position: absolute;
  }
  padding-left: 1rem;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 150%;
    margin-left: -25%;
    height: 100%;
    box-shadow: $black 0 $blur-size * 0.8 $blur-size inset, $black 0 $blur-size * -0.8 $blur-size inset;
  }
  > h2 {
    @include timeline-node;
  }
  .timeline-event {
    @include timeline-node;
    padding-left: 3rem;
    position: relative;
    display: flex;
    gap: 1rem;
    h3 {
      margin-top: 0;
      margin-left: -1rem;
    }
    .dot {
      @include dot(10px);
      left: -8px;
      top: 5.5rem;
      background: $purple;
      border: solid $line-thickness $white;
    }
    .dot-large {
      @include dot(20px);
      left: -13px;
      top: 5.2rem;
      background: $pink;
      border: solid $line-thickness $white;
    }
    .blockchain-details {
      font-size: 0.7rem;
      line-height: 1.3em;
      padding: 1em;
      margin-left: -0.6rem;
      background: rgba(255, 255, 200, 0.08);
    }
    .thumbnail {
      flex: 1 1 25%;
      img {
        max-height: 180px;
        max-width: 25vw;
      }
    }
  }
  .timeline-gap {
    @include timeline-node;
    padding-top: 0;
    padding-bottom: 0;
    height: 2rem;
  }
}

///// Responsive styling /////
@media (max-width: 65em) {
  nav#sidebar {
    position: initial;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: $mobile-menu-height;
    #mobile-menu-button {
      display: initial;
      height: $mobile-menu-height;
    }
    #mobile-menu-button,
    #logo,
    #wallet-connection {
      width: auto;
      height: $mobile-menu-height;
      padding: 0 1rem;
      line-height: $mobile-menu-height;
      white-space: nowrap;
    }
    #logo {
      flex-grow: 10;
    }
    #menu {
      h2:first-child {
        margin-top: 0;
      }
      &.menu-closed {
        display: none;
      }
      &.menu-open {
        position: absolute;
        left: 0;
        top: $mobile-menu-height;
        z-index: 100;
      }
    }
    #wallet-connection button {
      font-size: 0.8rem;
    }
  }

  #content {
    margin: 0.5em 0 0 0;
  }

  dl.treasures-list {
    dd {
      flex-wrap: wrap;
      .eligible-mooncats {
        max-width: 100vw;
        text-align: left;
        flex: 8 8 100%;
      }
    }
  }

  .timeline-container .timeline-event {
    flex-wrap: wrap;
    .thumbnail img {
      max-width: 90%;
    }
  }

  .only-wide {
    display: none !important;
  }
}

@media (max-width: 40em) {
  nav#sidebar {
    #logo {
      font-size: 1.3rem;
    }
    .eth-address.eth-address-short-bar {
      .address-label {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 4em;
      }
      .alt-link {
        display: none;
      }
    }
  }

  #content {
    > #content-container {
      padding: 0 0.2rem;
    }
  }

  h1.hero {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .two-col {
    column-count: 1;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
